# API Configuration
NEXT_PUBLIC_API_BASE_URL=https://68c41ec381ff90c8e61b4cab.mockapi.io

# App Configuration
NEXT_PUBLIC_APP_NAME="Z-demo"
NEXT_PUBLIC_COMPANY_NAME="EASZ Trip"
NEXT_PUBLIC_SHARE_URL=https://wireframepro.mockflow.com
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-0Y7DEHKVW2

# Contact Information
NEXT_PUBLIC_CONTACT_EMAIL=easztrip@gmail.com
NEXT_PUBLIC_CONTACT_PHONE=+91 95000 41558
NEXT_PUBLIC_CONTACT_ADDRESS="2nd Avenue, Anna Salai, Teynampet, Chennai 600018."

# Development Configuration
NODE_ENV=development
